{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Записи группы: {{ group.name }}{% endblock %}

{% block content %}
    <h1>{{ group.name }}</h1>
    <p>{{ group.description }}</p>

    {% for post in page_obj %}
        <div class="post">
            {% if post.image %}
                {% thumbnail post.image "960x339" crop="center" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
            {% endif %}

            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <small>{{ post.pub_date }}</small>
        </div>
    {% endfor %}

    <!-- Включаем пагинацию -->
    {% include 'posts/includes/paginator.html' %}
{% endblock %}
