{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я использовал в проекте</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Python</li>
      <li class="list-group-item">Django</li>
      <li class="list-group-item">SQLite</li>
      <li class="list-group-item">Bootstrap</li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Этот сайт я сделал на Django в рамках учебного проекта. Здесь реализованы формы, модели, шаблоны, маршруты и многое другое.</p>
  </article>
</div>
{% endblock %}
